{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load crispy_forms_tags %}
    {%block title%}Confirm Admin{%endblock%}
</head>
<body>
{%block body%}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Profile</th>
      <th scope="col">Page</th>
    </tr>
  </thead>
  {%for users in object_list%}
  <tbody>
    <tr>
      <td>{{users.applier.get_full_name}}</td>
      {% if users.applier.picture %}
        <td><img src="{{users.applier.picture.url}}" style="width:30px;"></td>
      {% endif %}
      <td><a href="{%url 'base:profile' users.applier.pk users.applier.email %}"> <input type="submit" value="Profile" class="btn-green"></a> </td>
    </tr>
  </tbody>
    {% empty %}
      <h3>There is no admin request</h3>
    {%endfor%}
</table>

{%endblock%}
</body>
</html>
