{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    {%block title%}Register{%endblock%}
</head>
<body>
{%block body%}
<h1>Register page</h1>
<br/>
		<form enctype="multipart/form-data" action="" method=POST>
			{% csrf_token %}
          {{form.first_name|as_crispy_field}}<br>
          {{form.last_name|as_crispy_field}}<br>
          {{form.email|as_crispy_field}}<br>
          <h6>Upload your profile</h6>
          {{form.picture}}<br><br>
          {{form.birthday|as_crispy_field}}<br>
          {{form.description|as_crispy_field}}<br>
          {{form.user_id|as_crispy_field}}<br>
          {{form.password1|as_crispy_field}}<br>
          {{form.password2|as_crispy_field}}<br>

            <input type="submit" value="Register" class="btn-green">
		</form>
<br/><br/>
{%endblock%}
</body>
</html>