<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <a class="navbar-brand" style="margin-left:10px;" href="#"><i class="fa-solid fa-hospital"></i></a>
      <li class="nav-item active">
        <a class="nav-link " href="{%url 'base:home'%}">Home  </a>
      </li>
      {%if request.user.is_authenticated%}
      {% if not request.user.is_superuser %}
        {% if request.user.user_status != "do" and request.user.user_status != "ad" %}
          {% if request.user.admin_applier.count == 0 and request.user.applier.count == 0 %}
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Register
              </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="{%url 'admins:register-admin'%}">Register Admin</a></li>
                      <li><a class="dropdown-item" href="{%url 'doctor:register-doctor'%}">Register Doctor</a></li>
                    {%if request.user.hospital_owner.count == 0 %}
                      <li><a class="dropdown-item" href="{%url 'hospital:register-hospital' %}">Register Hospital</a></li>
                    {%endif%}
                </ul>
              </div>
      {%endif%}
     {%endif%}
      {% endif %}
      {% if request.user.is_superuser or request.user.user_status == "ad" %}
        <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Pages
              </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="{%url 'doctor:confirm-doctor-page'%}">Doctor requests</a></li>
                      <li><a class="dropdown-item" href="{%url 'admins:confrim-admin-list'%}">Admin requests</a></li>
                        {%if request.user.hospital_owner.count == 0 %}
                          <li><a class="dropdown-item" href="{%url 'hospital:register-hospital' %}">Register Hospital</a></li>
                        {%endif%}
                </ul>
              </div>
      {% endif %}
      {%if request.user.applier.first.doctor_status == "ac"%}
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Messages
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{%url 'doctor:unread-messages' %}">Unread Messages</a></li>
                <li><a class="dropdown-item" href="{%url 'doctor:all-messages' %}">All Messages</a></li>
          </ul>
        </div>
      {%endif%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'base:profile' request.user.id request.user.email %}">Profile</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'account_logout' %}">Logout</a>
          </li>
      {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'account_login' %}">login</a>
          </li>
      {%endif%}
    </ul>
  </div>
</nav>