{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}Hospital Profile{%endblock%}
</head>
<body>
{%block body%}
{% if object.picture %}
    <img src="{{object.picture.url}}" style="width:50px; border-radius: 50%;"><br><br>
{% endif %}

<h5>Name: {{object.name}}</h5><br>
<h5>Address: {{object.address}}</h5><br>
<h5>Id: {{object.hospital_id}}</h5><br>
<h5>Phone number: {{object.phone_number}}</h5><br>
<h5>Status: {{object.status}}</h5><br>
<h5>owner: {{object.owner}}</h5> <br>
<h5>about: {{object.description}}</h5> <br>
<hr>
{%if request.user.user_status == "ad" or request.user.is_superuser%}
    {%if object.status == "n"%}
        <h4>The owner of hospital ( {{object.owner.email}} ) has requested to register this hospital</h4> <br>
        <a href="{%url 'hospital:accept-hospital' object.pk object.hospital_id %}"><input class="btn-green" value="Accept" ></a>
        <a href="{%url 'hospital:decline-hospital' object.pk object.hospital_id  %}"><input class="btn-red" value="Decline" style=""></a>
    {%endif%}
{%endif%}
{%endblock%}
</body>
</html>