body{
    background-color: #9BE5AA;
}

.main-box{
    background-color: white;
    padding: 30px;
    margin: 70px;
    margin-top:40px;
    margin-bottom: 120px;
    text-align: left;
}


.btn-green{
    background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}
