{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}Message detail{%endblock%}
</head>
<body>
{%block body%}
<h5>Title: {{object.title}}</h5><br>
<h5>Description: {{object.description}}</h5><br>
<h5>From: {{object.doctor}}</h5><br>
<h5>To: {{object.to_hospital}}</h5><br>
<h5>Patient: {{object.patient}}</h5><br>
<h5>Status: {{object.status}}</h5><br>
{%if object.status != "r"%}
    <a href="{% url 'doctor:read-message' object.token%}" class="btn-green">Read message</a>
{%elif object.status == "r"%}
    <a href="{% url 'doctor:close-message' object.token%}" class="btn-green">Close message</a>
{%endif%}
{%endblock%}
</body>
</html>