{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}Home{%endblock%}
</head>
<body>
{%block body%}
<h1>Hospital Management</h1>
<p>This website can help doctors to save their time</p>
<p>First of all everyone needs to be registered</p>
<p>We are all patients by default we can be promoted as doctor, admin and also we can register hospitals</p>
<p>Doctors can share patients info by usings their Message option</p>
<p>Doctors can see patients previous problems via their profile</p>
{%endblock%}
</body>
</html>
