{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}Profile{%endblock%}
</head>
<body>
{%block body%}
<h3>Profile page</h3>
<hr>
{% if user.profile %}
    <img src="{{object.picture.url}}" style="width:50px; border-radius: 50%;"><br><br>
{% endif %}
<h5>Full name: {{user.get_full_name}}</h5><br>
<h5>Email: {{user.email}}</h5><br>
<h5>Birthday: {{user.birthday}}</h5><br>
<h5>Userid: {{user.userid}}</h5><br>
<h5>Description:</h5> <p>{{user.description}}</p><br>
<h5>Current status: {{user.user_status}}</h5><br>
<hr>
{% if request.user.is_superuser or request.user.user_status == "ad" %}
    {% if doctor_request %}
        <h4>This user has requested for promote to doctor level.</h4> <br>
        <a href="{%url 'doctor:accept-doctor' user.email%}"><input class="btn-green" value="Accept" ></a>
        <a href="{%url 'doctor:decline-doctor' user.email%}"><input class="btn-red" value="Decline Doctor" ></a>
    {% endif %}
    {% if admin_request %}
        <h4>This user has requested for promote to admin level</h4> <br>
        <a href="{%url 'admins:accept-admin' object.email   %}"><input class="btn-green" value="Accept" ></a>
        <a href="{%url 'admins:decline-admin' object.email%}"><input class="btn-red" value="Decline Admin" ></a>
    {% endif %}
{% endif %}

{%endblock%}
</body>
</html>